GOOGLE_MAPS_API_KEY_ANDROID=google_maps_api_key_android_restricted
GOOGLE_MAPS_API_KEY_IOS=google_maps_api_key_ios_restricted
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_PAYSTACK_TEST_ACCESS_CODE=access_code_from_backend_initialize
